body {
  margin:0;
  padding:0;
  background-color: #eee;
  font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Lucida Sans", "Verdana", "Arial", sans-serif;
}

#header {
  margin-top:12em;
}

#header h1 {
  text-align: center;
  color: #66c;
  font-size: 2em;
  font-weight: 300;
}

#header form {
  margin: 0 auto;
  text-align: center;
}

#header form input {
  color: #66c;
  font-size: 1em;
  font-weight: 300;
}

#description {
  margin-top: 8em;
}

#description p {
  text-align: center;
  color: #777;
  font-size: 0.8em;
}

#result {
  padding: 1em;
  display: none;
}

#result h1 {
  color: #66c;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
}

#result h2 {
  color: #66c;
  font-weight: 300;
}

#result table {
  width:95%;
  margin: 0 auto;
}

#result table, th, td {
  border: 1px solid gray;
}

#result th {
  background-color: #99d;
}

#footer {
  margin-top: 3em;
  background-color: #ddd;
  padding:0.5em;
}

.footer-fix {
  position: fixed; 
  bottom:0%;
  width:100%;
}

#footer p {
  text-align: center;
  color: #444;
  font-size: 0.8em;
}

#metadata {
  margin-top: 3em;
  margin-bottom: 8em;
  padding:0.5em;
  display: none;
}

#metadata p {
  text-align: center;
  color: #666;
  font-size: 0.8em;
}

#metadata span.error {
  color: red;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 235, 235, 235, .8 ) 
                url('loading.gif') 
                50% 50% 
                no-repeat;
    text-align: center;
    font-weight: 100;
    font-size: 1.2em;
    padding-bottom: 1.2em;
}

body.loading {
    overflow: hidden;   
}

body.loading .modal {
    display: block;
}
